form{
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);

   @media (min-width: 768px){
    width:40%;
    padding: 2rem;
    top:30%;
    margin-top: 2rem;
     background: #FFFFFF;
    
     border-radius: 12px;
     margin-bottom: 1rem;
 }
    

    .inp{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: .9rem;

        input{
         font-family: 'Source Sans Pro', sans-serif;
            padding: .7rem;
            border: 1px solid #8D8D8D;
border-radius: 4px;
        }


        label{
         font-family: 'Source Sans Pro', sans-serif;
         font-style: normal;
         font-weight: 600;
         font-size: 14px;
         line-height: 16px;
         
         color: #000000;
        }
        
    }

    .button{
     margin-top: 2rem;
     
    }

    .amount{
        margin-top: 1rem;
        
    }

    
    
}
.header__onee{
    text-align: center;

    img{
        width: 20%;

        @media (min-width: 768px){
            width: 6%;
            margin-left: 1.9rem;
        }
    }

    
}

.paystack{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    padding: .5rem;
    background-color: green;
    color: #FFFFFF;
    border: 0;
}