.checkout{
    padding: 4rem;
    padding-top: 1rem;
    font-family: 'Roboto';

    @media only screen and (max-width: 480px) {
      padding: 1rem;
      }

    .header__onee{
          
        img{
            width: 7%;

            @media only screen and (max-width: 480px) {
                width: 15%;
               }
        }
    }
    .flex{
        display: flex;
        margin-top: 4rem;

    }
    
    
    form{
        width: 50%;
        @media only screen and (max-width: 480px) {
           width: 100%;
          }
    
        .inp{
            display: flex;
            flex-direction: column;

            @media only screen and (max-width: 480px) {
                text-align: center;
            }
           
            input{
                border-radius: 8px;
                border: 1px solid #CACACA;
                padding: .8rem;
                width: 80%;

                @media only screen and (max-width: 480px) {
                    width: 90%;
                   }
            }
    
            label{
                margin-bottom: 1rem;
                margin-top: 1rem;
                text-align: left;
            }
        }
    
        button{
            margin-top: 2rem;
            border-radius: 5px;
            background: #0383FC;
            box-shadow: 0px 4px 4px 0px rgba(132, 131, 131, 0.17);
            border: 0;
            width: 80%;
            padding: .8rem;
            color: #ffffff;

           
        }
    }

    .card{
        @media only screen and (max-width: 480px) {
            display: none;
          }
    }
}

