.header{
    text-align: center;
    margin: 2rem; 
    
    @media (min-width: 768px){
        text-align: left;
       
    }



    &__one{
        
        img{
            width: 10%;

            @media (min-width: 768px){
                width: 6%;
                margin-left: 1.9rem;
            }
        }
    }
}